.wrap {
    position: absolute;
    width: 100%;
}

.count {
    margin-left: 10px;
    width: 30px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    background: #888;
    color: #fff;
    cursor: pointer;
    transition: background .1s;
}

.count:hover {
    background: #3f92e8;
}

.count::after {
    margin-bottom: -6px;
    content: ' ';
    display: block;
    border: 10px solid transparent;
    border-left: 10px solid #999;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: border .1s;
}

.count:hover::after {
    border-left: 10px solid #519cea;
}

.modalWrap {
    composes: wrap;
    composes: wrap from 'commonCss/modalMini.css';
    font-size: 14px;
}

.title {
    composes: title from 'commonCss/modalMini.css';
    position: relative;
}

.close {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #666;
    text-decoration: none;
}

.comments {
    max-height: 125px;
    overflow-y: auto;
}

.comment {
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    background: #fff;
    transition: background .1s;
}

.comment:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #fff;
    transition: background .1s;
}

.comment:hover:after {
    background-color: #b9f1d1;
    transition: background .1s;
}

.author {
    margin-bottom: 5px;
    color: #666;
}

.small {
    margin-left: 3px;
    font-size: .8em;
}
