.wrap {
    position: absolute;
    width: 100%;
}

.count {
    margin-left: 10px;
    width: 30px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    background: #888;
    color: #fff;
    cursor: pointer;
    transition: background .1s;
}

.count:hover {
    background: #3f92e8;
}

.count::after {
    margin-bottom: -6px;
    content: ' ';
    display: block;
    border: 10px solid transparent;
    border-left: 10px solid #999;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: border .1s;
}

.count:hover::after {
    border-left: 10px solid #519cea;
}

.modalWrap {
    composes: wrap;
    composes: wrap from 'commonCss/modalMini.css';
    font-size: 14px;
}

.title {
    composes: title from 'commonCss/modalMini.css';
    position: relative;
}

.close {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #666;
    text-decoration: none;
}

.comments {
    max-height: 450px;
    overflow-y: auto;
}

.commentGroup {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.commentContent {
    margin-bottom: 5px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment {
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    background: #fff;
    transition: background .1s;
}

.meta {
    margin-bottom: 5px;
    color: #666;
}

.author {
    display: inline-block;
    max-width: 80px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.small {
    margin-left: 3px;
    font-size: .8em;
}

.content {
    margin-bottom: 3px;
    line-height: 140%;
}

.button {
    margin-right: 5px;
    color: #666;
    text-decoration: none;
    font-size: .8em;
}

.button:hover {
    text-decoration: underline;
}
