.wrap {
    margin: 0 auto;
	display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .2);
}

.sidebar {
    position: relative;
    height: 100%;
    background: #213246;
    flex-shrink: 0;
    flex-basis: 200px;
    border-right: 1px solid #000;
}

.logo {
    position: absolute;
    opacity: .5;
    left: 10px;
    bottom: 10px;
}

.menuBtn {
    padding: 0 15px;
    display: block;
    color: #a0a0a0;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    outline: none;
}

.menuBtn i {
    margin-right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    outline: none;
}

.activeBtn {
    composes: menuBtn;
    background: linear-gradient(#3f92e8, #519cea);
    color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.content {
    flex-grow: 1;
    box-shadow: -2px 0 4px 2px rgba(0, 0, 0, .2);
    z-index: 99;
}

.header {
    padding: 10px 20px;
	display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 70px;
    background: #eee;
    border-bottom: 1px solid #ddd;
}

.left {
    flex-basis: 250px;
}

.communityName {
    text-align: left;
    font-size: 20px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right {
    flex-shrink: 0;
    flex-basis: 230px;
    text-align: right;
}

.item {
    margin-left: 15px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #666;
}