.form {
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.wrap {
    height: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.fullScreenForm {
    composes: form;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.write {
    background: #fff;
    position: relative;
}

.fullScreenForm .write {
    height: calc(100% - 70px);
}

.profileImage {
    composes: profileImage from '../../common/document.css';
}

.inputs, .preview {
    composes: document from '../../common/document.css';
}

.titleInput {
    composes: title from '../../common/document.css';
    width: calc(100% - 20px);
    border: none;
}

.hr {
    composes: hr from '../../common/document.css';
}

.textarea {
    composes: content from '../../common/document.css';
    width: calc(100% - 20px);
    height: 100px;
    border: none;
    outline: none;
    resize: none;
}

.fullScreenForm .textarea {
    height: calc(100% - 65px);
}

.titlePreview {
    composes: title from '../../common/document.css';
}

.contentPreview {
    composes: content from '../../common/document.css';
    padding-top: 0;
    padding-bottom: 0;
    max-height: 300px;
    overflow: auto;
}

.fullScreenForm .contentPreview {
    max-height: calc(100% - 45px);
}

.tabs {
    position: relative;
}

.tabBtn {
    margin: 0;
    padding: 8px 16px;
    background: inherit;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-bottom: none;
    border-radius: 0;
    height: 30px;
    box-shadow: none !important;
}

.tabBtnActive {
    composes: tabBtn;
    background: #fff;
    transition: background .05s;
}

.secondaryBtns {
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    line-height: 0;
}

.secondaryBtns i {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.bottom {
    position: relative;
    border-top: 1px solid #ccc;
}

.submitBtnBase {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 60px;
    height: calc(100% - 10px);
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.submitBtn {
    composes: button from '../../common/button.css';
    composes: submitBtnBase;
}

.submittingBtn {
    composes: submittingBtn from '../../common/button.css';
    composes: submitBtnBase;
    width: 80px;
}