.wrap {
    display: inline-block;
    width: calc(50% - 3px);
    margin-top: 5px;
}

.wrap:nth-child(2n - 1) {
    margin-right: 6px;
}

.tagItem {
    position: relative;
    padding: 0 25px 0 10px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
}

.title {
    cursor: pointer;
}

.removeBtn {
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    height: 40px;
    width: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.modalWrap {
    composes: modalWrap from 'commonCss/modal.css';
}

.modalWrapHidden {
    composes: modalWrap;
    display: none;
    color: #000;
    z-index: 100;
}

.modal {
    composes: modal from 'commonCss/modal.css';
    position: relative;
    line-height: initial;
}

.modalTitle {
    composes: title from 'commonCss/modal.css';
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.label {
    composes: label from 'commonCss/modal.css';
}

.input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    composes: button from 'commonCss/button.css';
    display: block;
    width: 100%;
    margin-top: 20px;
}