.wrap {
    max-width: 850px;
    margin: 0 auto;
}

.wrap::before, .wrap::after {
    display: block;
    content: ' ';
    clear: both;
}

.spinnerWrap {
    height: 50px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}