.userInfo {
    padding: 15px;
    height: 70px;
    color: #a0a0a0;
    background: #1a2a3a;
    border-bottom: 1px solid #333;
}

.title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #bababa;
}

.image {
    margin-right: 7px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    vertical-align: middle;
}

.id {
    display: inline-block;
    vertical-align: middle;
}

.name {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400;
}

.item {
    margin-right: 10px;
    color: #a0a0a0;
    text-decoration: none;
    transition: color .1s;
}

.item:hover {
    color: #bababa;
    transition: color .1s;
}