.button {
    display: inline-block;
    min-width: 40px;
    height: 35px;
    text-align: center;
    color: #666;
    cursor: pointer;
    transition: color .1s;
}

.button:hover {
    color: #519cea;
}

.icon {
    margin-top: 5px;
    display: block !important;
    height: 20px;
    line-height: 20px !important;
    font-size: 20px !important;
}

.buttonText {
    font-size: 12px;
}

.wrap {
    height: calc(100% - 70px);
}

.menus {
    padding: 0 20px;
    display: flex;
    background: #fafafa;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.left {
    width: 50%;
}

.left .button {
    margin-right: 5px;
}

.right {
    width: 50%;
    text-align: right;
}

.right .button {
    margin-left: 5px;
}

.documentWrap {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.grid {
    composes: wrap from 'commonCss/grid.css';
    min-height: 100%;
    height: auto;
}

.document {
    composes: big from 'commonCss/grid.css';
    min-height: 100%;
    height: auto;
    padding: 20px 40px;
    border-right: 1px solid #ddd;
    position: relative;
}

.title {
    margin: 30px 0;
    font-size: 30px;
}

.content {
    composes: content from 'commonCss/content.css';
}

.noHighlightContent {
    composes: content;
}

.noHighlightContent .commentHighlight {
    background: none !important;
}

.selectionHighlight {
    background-color: #b9f1ed;
}

.commentHighlight {
}

.sidebar {
    composes: small from 'commonCss/grid.css';
    position: relative;
    background: #fafafa;
    height: auto;
    z-index: 0;
}

.meta {
    height: 120px;
}

.comments {
    
}