.wrap {
    height: calc(100% - 70px);
}

.menus {
    composes: menus from 'commonCss/topMenu.css';
}

.left {
    composes: left from 'commonCss/topMenu.css';
}

.right {
    composes: right from 'commonCss/topMenu.css';
}

.documentWrap {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.grid {
    composes: wrap from 'commonCss/grid.css';
    min-height: 100%;
    height: auto;
}

.document {
    composes: big from 'commonCss/grid.css';
    min-height: 100%;
    height: auto;
    padding: 20px 40px;
    border-right: 1px solid #ddd;
    position: relative;
}

.title {
    margin: 30px 0;
}

.titleText {
    margin-bottom: 15px;
    font-size: 30px;
}

.content {
    composes: content from 'commonCss/content.css';
}

.noHighlightContent {
    composes: content;
}

.noHighlightContent .commentHighlight {
    background: none !important;
}

.selectionHighlight {
    background-color: #b9f1ed;
}

.commentHighlight {
}

.tag {
    composes: tag from 'commonCss/tags.css';
}

.sidebar {
    composes: small from 'commonCss/grid.css';
    position: relative;
    background: #fafafa;
    height: auto;
    z-index: 0;
}

.modalWrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
	display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 99999999;
}

.meta {
    composes: wrap from 'commonCss/modalMini.css';
    padding: 0 15px 15px 15px;
}

.metaTitle {
    composes: title from 'commonCss/modalMini.css';
    height: 40px;
    margin-bottom: 10px;
    padding: 15px 0 5px 0;
}
