.wrap {
    composes: wrap from '../../common/common.css';
}

.topMenu {
    margin: 0 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.topMenu a {
    color: #666;
    text-decoration: none;
}

.right a {
    margin-left: 15px;
}

.document {
    background: #fff;
    padding: 30px;
}

.header {
    margin-bottom: 30px;
}

.title {
    margin: 15px 0;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
}

.meta {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    color: #666;
}

.authorDate {
    margin-right: 10px;
}

.content {
    font-size: 18px;
    line-height: 180%;
}

.highlight {
    background-color: #b9f1d1;
}