.documentWrap {
    margin: 10px 0;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.profileImage {
    composes: profileImage from '../../common/document.css';
}

.document {
    composes: document from '../../common/document.css';
}

.header {
    position: relative;
    display: flex;
    padding-right: 10px;
}

.title {
    composes: title from '../../common/document.css';
    flex-grow: 1;
}

.content {
    composes: content from '../../common/document.css';
}

.tags {
    line-height: 36px;
}

.tag {
    padding: 3px 5px;
    font-size: 12px;
    color: #fff;
}

.tag:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tag:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hr {
    composes: hr from '../../common/document.css';
}

.footer {
    margin: 10px;
    margin-top: 0;
    color: #666;
}