.content {
    line-height: 160%;
}

.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child {
    margin-top: 16px;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    line-height: 140%;
}

.content h1 {
    margin: 40px 0 16px 0;
    padding-bottom: 7px;
    font-weight: 400;
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
    font-size: 22px;
}

.content h2 {
    margin: 25px 0 16px 0;
    font-size: 20px;
    font-weight: 400;
}

.content h3 {
    margin: 20px 0 16px 0;
    font-size: 18px;
    font-weight: 400;
}

.content h4 {
    margin: 1em 0;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
}

.content img {
    max-width: 100%;
}